<div class="menu">
	<ul>
		<li><%= link_to "随笔", controller: 'static_pages', action: 'home', kind: "suibi" %></li>
		<li><%= link_to "博客", controller: 'static_pages', action: 'home', kind: "blog" %></li>
		<li><%= link_to "日志", controller: 'static_pages', action: 'home', kind: "log" %></li>
		<li><%= link_to "笔记", controller: 'static_pages', action: 'home', kind: "node" %></li>
		<li><%= link_to "工具", controller: 'static_pages', action: 'home', kind: "tool" %></li>
		<li><%= link_to "新闻", controller: 'static_pages', action: 'home', kind: "news" %></li>
		<li><%= link_to "活动", controller: 'static_pages', action: 'home', kind: "activity" %></li>
		<li><%= link_to "ACM", controller: 'static_pages', action: 'home', kind: "acm" %></li>
	</ul>
</div>
<ol class="posts">
	<% @posts.each do |post| %>
		<li>
			<div class="one_post">
				<p class="title"><%= link_to post.title, post %></p>
				<div class="line"></div>
				<p class="content"><%= link_to truncate(strip_tags(post.content), length: 100), post %></p>
				<!-- <p class="timestamp">
					<%= time_ago_in_words(post.created_at) %> ago.
				</p> -->
			</div>
		</li>
	<% end %>
	<div class="class"></div>
</ol>
<%= will_paginate @posts %>