<div class="show_user">
	<div class="user_info_main">
		第<%= @user.id %>号会员  <br/>
		名字: <%= @user.name %> <br/>
		Email: <%= @user.email %> <br/>

		<% if !@user.website.blank? %>
			博客:   <%= link_to @user.website, @user.website_url %> <br/>
		<% end %>

		<% if !@user.github.blank? %>
			Github: <%= link_to @user.github, @user.github_url %> <br/>
		<% end %>

		<% if !@user.twitter.blank? %>
			Twitter:  <%= link_to @user.twitter, @user.twitter_url %> <br/>
		<% end %>

		<% if !@user.qq.blank? %>
			QQ: <%= @user.qq %> <br/>
		<% end %>

		<% if !@user.city.blank? %>
			城市: <%= @user.city %> <br/>
		<% end %>

		<% if !@user.company.blank? %>
			公司: <%= @user.company %> <br/>
		<% end %>

		<% if !@user.position.blank? %>
			职位: <%= @user.position %> <br/>
		<% end %>

		<% if !@user.autograph.blank? %>
			签名: <%= @user.autograph %> <br/>
		<% end %>

		加入时间: <%= @user.created_at.strftime('%F') %> <br/>

		<% if !@user.resume.blank? %>
			个人简介: <%= @user.resume %>
		<% end %>

		<section>
			<%= render 'shared/stats' %>
		</section>
	</div>

	<div class="follow_button">
		<!-- 显示用户上传头像，否则显示默认头像 -->
		<%= @user.avatar? ? image_tag(@user.avatar_url(:thumb)) : image_tag("uu.jpg", :height => '100', :width => '100') %>
	    <%= render 'follow_form' if signed_in? %>
	</div>

	<div class="class"></div>

</div>

