<!-- 用户资料显示 -->
<div class="show_user">
	<div class="user_info_main">
		第<%= @user.id %>号会员  <br/>
		名字: <%= @user.name %> <br/>
		Email: <%= @user.email %> <br/>

		<% if !@user.website.blank? %>
			博客:   <%= link_to @user.website, @user.website_url %> <br/>
		<% end %>

		<% if !@user.github.blank? %>
			Github: <%= link_to @user.github, @user.github_url %> <br/>
		<% end %>

		<% if !@user.twitter.blank? %>
			Twitter:  <%= link_to @user.twitter, @user.twitter_url %> <br/>
		<% end %>

		<% if !@user.qq.blank? %>
			QQ: <%= @user.qq %> <br/>
		<% end %>

		<% if !@user.city.blank? %>
			城市: <%= @user.city %> <br/>
		<% end %>

		<% if !@user.company.blank? %>
			公司: <%= @user.company %> <br/>
		<% end %>

		<% if !@user.position.blank? %>
			职位: <%= @user.position %> <br/>
		<% end %>

		<% if !@user.autograph.blank? %>
			签名: <%= @user.autograph %> <br/>
		<% end %>

		加入时间: <%= @user.created_at.strftime('%F') %> <br/>

		<% if !@user.resume.blank? %>
			个人简介: <%= @user.resume %>
		<% end %>

		<section>
			<%= render 'shared/stats' %>
		</section>
	</div>

	<div class="follow_button">
		<!-- 显示是否是管理员 -->
		<% if @user.admin? %>
			管理员
		<% end %>
		<!-- 超级管理员可以设置其他用户为管理员 -->
		<!-- 当前用户是否为超级管理员，选择用户是管理员，不能取消超级管理员 -->
		<% if current_user?(@super_admin) && @user.admin? && !current_user?(@user) %>
			<%= link_to "取消管理员", set_admin_user_path(@user) %>
		<% end %>
		<!-- 当前用户是否为超级管理员，选择用户不是管理员 -->
		<% if current_user?(@super_admin) && !@user.admin? %>
			<%= link_to "设为管理员", set_admin_user_path(@user) %>
		<% end %>
		<!-- 显示用户上传头像，否则显示默认头像 -->
		<%= @user.avatar? ? image_tag(@user.avatar_url(:thumb)) : image_tag("uu.jpg", :height => '100', :width => '100') %>
	  <%= render 'follow_form' if signed_in? %>
	</div>

	<div class="class"></div>
</div>
<!-- 显示该用户发布的文章 -->
<div>
	<h3>我发表的文章</h3>
	<% @posts.each do |post| %>
		文章标题<%= link_to post.title, post_path(post) %>
		共<%= post.comments.count %>条回复
		<!-- 删除链接 -->
		<% if current_user?(post.user) %>
			<%= link_to "删除", post, method: :delete, data: { confirm: "确定要删除吗?" } %>  <br/>
		<% end %>
	<% end %>
</div>
<!-- 显示该用户评论过的文章 -->
<div>
	<h3>我发表的评论</h3>
	<% @user.comments.each do |comment| %>
		文章标题<%= link_to comment.post.title, post_path(comment.post) %>
		评论内容<%= comment.body %>  <br/>
	<% end %>
</div>
 