<div class="kind">
	<ul>
		<li><%= link_to "笔记", controller: 'posts', action: 'post_kind', kind: "node" %></li>
		<li><%= link_to "随笔", controller: 'posts', action: 'post_kind', kind: "suibi" %></li>
		<li><%= link_to "博客", controller: 'posts', action: 'post_kind', kind: "blog" %></li>
		<li><%= link_to "日志", controller: 'posts', action: 'post_kind', kind: "log" %></li>
		<li class="choose">文章类型</li>
		<li><%= link_to "工具", controller: 'posts', action: 'post_kind', kind: "tool" %></li>
		<li><%= link_to "ACM", controller: 'posts', action: 'post_kind', kind: "acm" %></li>
		<li><%= link_to "新闻", controller: 'posts', action: 'post_kind', kind: "news" %></li>
		<li><%= link_to "活动", controller: 'posts', action: 'post_kind', kind: "activity" %></li>
	</ul>
</div>
