<div id="page_main">
	<div class="post_main">
		<div class="post_title">
			<!-- 文章信息 -->
			<h2><%= @post.title %></h2>
			<div class="post_totle_font">
				<%= @post.user.name %> • 于 
				<%= time_ago_in_words(@post.created_at) %> 发布
				<% if @comments.any? %>
			 		• 最后由 
			 		<%= @comments.last.commenter %>  于 
			 		<%= time_ago_in_words(@comments.last.created_at) %> 回复
			 	<% end %>
			 	    • <%= @post.viewed_count %> 次阅读
			</div>
			<div class="line"></div>
			<!-- 文章内容 -->
			<div class="post_content">
				<%= wrap(markdown(@post.content)) %>
				<!-- 收藏文章功能 -->
				<div>
					<%= topic_function_tag(@post, 'favorite_topic_ids', '收藏', '取消收藏') %>
				</div>
				<!-- 赞功能 -->
				<div>
					<%= topic_function_tag(@post, 'zan_topic_ids', '赞', '已赞') %>
				</div>
				<!-- 删除功能(只有发表文章本人和管理员可见) -->
					<% if current_user?(@post.user) || current_user.admin? %>
					<%= link_to "删除", @post, method: :delete,
	                                     data: { confirm: "确定要删除吗?" },
	                                     title: @post.content %>
	        <% end %>
				<div>
				</div>
			</div>
		</div>
	</div>

	<%= render 'shared/tips' %>

	<!-- 清除浮动 -->
	<div class="class"></div>

	<!-- 文章所有评论 -->
	<div class="comment">
		<% if @comments.empty? %>
			<h3>还没有回复哦</h3>
		<% else %>
			<div class="comment_number">
				共收到 <%= @comments.count %> 条回复
			</div>
			<div class="line"></div>
			<% @comments.each do |comment| %>
				<div class="comment_content">
					<div class="comment_commenter"><%= comment.commenter %></div>
					<%= wrap(markdown(comment.body)) %> 
					<% if current_user?(comment.user) || current_user.admin? %>
						<%= link_to "编辑", edit_post_comment_path(@post, comment) %>
					<% end %>
				</div>
				<div class="line"></div>
			<% end %>
		<% end %>
	</div>

	<!-- 创建评论 -->
	<div class="reply_post">
		<div class="reply_main">
			<% if signed_in? %>
				<%= form_for([@post, @comment]) do |f| %>

					<%= f.label :body, "添加回复" %>
					<%= f.text_area :body, class: "textarea" %> </br>

					<%= f.submit "回复", class: "btn btn-large btn-primary" %>
					<p>请尽量让自己的回复能够对别人有帮助</p>
				<% end %>
			<% else %>
				需要 <%= link_to "登陆", signin_path %> 后回复方可回复, 
				如果你还没有账号你可以 <%= link_to "注册", signup_path %> 一个帐号。
			<% end %>
		</div>
	</div>
</div>

