<div class="tag">
	<ul>
		<li><%= link_to "随笔", controller: 'posts', action: 'tag_custom', kind: "suibi" %></li>
		<li><%= link_to "博客", controller: 'posts', action: 'tag_custom', kind: "blog" %></li>
		<li><%= link_to "日志", controller: 'posts', action: 'tag_custom', kind: "log" %></li>
		<li><%= link_to "笔记", controller: 'posts', action: 'tag_custom', kind: "node" %></li>
		<li>文章类型</li>
		<li><%= link_to "随笔", controller: 'posts', action: 'tag_custom', kind: "suibi" %></li>
		<li><%= link_to "博客", controller: 'posts', action: 'tag_custom', kind: "blog" %></li>
		<li><%= link_to "日志", controller: 'posts', action: 'tag_custom', kind: "log" %></li>
		<li><%= link_to "笔记", controller: 'posts', action: 'tag_custom', kind: "node" %></li>
	</ul>
</div>

  <%= debug(params) if Rails.env.development? %>